# Исследование надежности заемщиков

## Импорт данных и библиотек

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Обработка пропусков

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

Заменили пропущенные значения в столбце total_income на медианные по каждому типу income_type.

### Обработка аномальных значений

In [7]:
data['days_employed'] = data['days_employed'].abs()

Заменили все отрицательные значения положительными в столбце days_employed

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть.

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

Удалены все строки с аномальными значениями в children.

### Изменение типов данных

In [11]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [12]:
data.duplicated().sum()

54

In [13]:
data = data.drop_duplicates()

In [14]:
#Обработка неявных дубликатов в столбце education.
data['education'] = data['education'].str.lower()

### Категоризация данных

In [15]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [16]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

Создан столбец с категориями клиентов на основе их заработка.

In [17]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [18]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [19]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

Создание столбца с явной категорией цели кредита клиентов.

## Исследование данных

In [20]:
debt_children_relation = data.groupby('children').agg({'debt': ['sum', 'count']})
debt_children_relation['perc'] = debt_children_relation['debt','sum'] / debt_children_relation['debt','count'] * 100
display(debt_children_relation.sort_values('perc'))

          debt             perc
           sum  count
children
5            0      9  0.000000
0         1063  14107  7.535266
3           27    330  8.181818
1          444   4809  9.232689
2          194   2052  9.454191
4            4     41  9.756098

Из за недостаточности значений в выборке с тремя и более детьми, сказать, влияет ли количество детей в семье на погашение кредита в срок сложно.
Поэтому сгрупируем данные на людей с детьми и без.

In [21]:
data_children_filtered = data
data_children_filtered.loc[data['children'] != 0, 'children'] = 1
debt_children_relation2 = data_children_filtered.groupby('children').agg({'debt': ['sum', 'count']})
debt_children_relation2['perc'] = debt_children_relation2['debt','sum'] / debt_children_relation2['debt','count'] * 100
debt_children_relation2.sort_values('perc')

          debt             perc
           sum  count
children
0         1063  14107  7.535266
1          669   7241  9.239055

**Вывод:** 
Исходя из данных в таблице видно, что количество людей погашающих кредит вовремя без детей и с ними отличается более чем на полтора процента в пользу первых. На основе этих данных можно сделать вывод, что наличие детей является влияющим фактором

In [22]:
debt_family_relation = data.groupby('family_status').agg({'debt': ['sum', 'count']})
debt_family_relation['perc'] = debt_family_relation['debt','sum'] / debt_family_relation['debt','count'] * 100
debt_family_relation.sort_values('perc')

                      debt             perc
                       sum  count
family_status
вдовец / вдова          63    951  6.624606
в разводе               84   1189  7.064760
женат / замужем        927  12266  7.557476
гражданский брак       385   4146  9.286059
Не женат / не замужем  273   2796  9.763948

**Вывод:** 
По таблице видно, что между семейным положением и возвратом кредита есть явная зависимость. Вдовцы и вдовы наименее склонны к неуплате долгов, в то время как не женатые люди имеют самый высоки процент невозвратов - 9.8%

In [23]:
debt_income_relation = data.groupby('total_income_category').agg({'debt': ['sum', 'count', 'mean']})
debt_income_relation['debt','mean'] = debt_income_relation['debt','mean'] * 100
debt_income_relation

                       debt
                        sum  count      mean
total_income_category
A                         2     25  8.000000
B                       354   5014  7.060231
C                      1353  15938  8.489145
D                        21    349  6.017192
E                         2     22  9.090909

**Вывод:** 
По данным таблицы сделать явный вывод нельзя, поскольку прямой зависимости между уровнем дохода и возвратом кредита в срок нет. Возможной причиной может быть сильный недостаток выборки в категориях A, D и C.

In [24]:
debt_purpose_relation = data.pivot_table(index='purpose_category',values='debt',aggfunc=['sum','count','mean'])
debt_purpose_relation = debt_purpose_relation.rename(columns={'mean': 'perc'})
debt_purpose_relation['perc'] = debt_purpose_relation['perc'] * 100
debt_purpose_relation

                          sum  count      perc
                         debt   debt      debt
purpose_category
операции с автомобилем    400   4281  9.343611
операции с недвижимостью  780  10754  7.253115
получение образования     369   3989  9.250439
проведение свадьбы        183   2324  7.874355

**Вывод:** 
При сравнение должников по цели кретида можно сделать вывод:
 - наименьший процент должников наблюдается среди группы людей, бравших кредит для операций с недвижимостью
 - наибольший процент должников у двух групп - с целью получения образования и для операций с авто

Так как пропуски присутствуют в столбцах с ежемесячным доходом и трудовым стажем в равных количествах можно предположить, что пропуски появились не случайно. Скорее всего люди умышленно не указали о себе эту информацию.

## Общий вывод

Было проверено 4 гипотезы:
 - 1. Люди с детьми более склонны к непогашению кредитов в срок.
 - 2. Между семейным положением и возвратом кретитов в срок присутствует явная зависимость.
 - 3. Прямой зависимости между уровнем дохода и погашением кретитов в срок нет.
 - 4. Цель кредита является зависящим фактором в возврате кредита.

По результатам исследования было установлено, что первая, вторая и четвертая гипотезы подтвердились.